.cart{
    /* background-color: 
    #FF9900; */
    background: rgba(255, 153, 0, 0.3);
    padding: 25px;
    position: sticky;
    top: 0;
    
}
.cart p{
    font-size: 17px;
}
.btn-clear-cart{
    display: flex;
    height: 56px;
    font-size: 21px;
    justify-content: space-between;
    width: 90%;
    margin: 10px auto;
    background-color: #FF3030;
    border-radius: 5px;
    color: white;
    align-items: center;

}